SERVER_PORT=8080
JWT_PUBLIC_KEY_PATH=file:/opt/sgu/keys/jwt-public.pem
INTERNAL_SERVICE_TOKEN=replace-with-a-long-random-secret
APP_MOCKS_ENABLED=false
NARRATION_SERVICE_URL=http://127.0.0.1:8082
AUTH_SERVICE_URL=http://127.0.0.1:8081
CONTENT_SERVICE_URL=http://127.0.0.1:8083
